.box {

  .arc {
    background-image: url(../../assets/images/archives.png);
    background-size: 100% auto;
    width: 690px;
    height: 200px;

    .text {
      padding: 40px 50px 30px 50px;
      color: white;
      letter-spacing: 10px;
      font-size: 54px;
      display: block;
    }

    .time {
      letter-spacing: 4px;
      font-size: 26px;
      padding-left: 50px;
      color: rgb(226, 221, 221);

    }
  }
}