.box {
  margin-top: 30px;
  .list {
    padding: 30px 30px 0 30px;
    display: flex;

    .icon {
      width: 240px;
      height: 240px;
    } 

    .right {
      // padding: 10px;
      margin: 14px 0 0px 26px;

      .title {
        font-size: 30px;
        letter-spacing: 4px;
      }

      .time {
        margin-top: 30px;
        margin-bottom: 10px;
        color: #bbbbbb;
        font-size: 22px;
        letter-spacing: 4px;

        .timetext {
          margin-right: 10px;
        }
      }

      .img {
        margin-top: 8px;
        width: 145px;
        height: 46px;
      }
    }
  }
}