.listbox {
  
  .list {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 5px #eeeaea;

    .text {
      letter-spacing: 4px;
      padding: 30px 0 30px 0;
      text-align: center;
      width: 50%;
      font-size: 32px;
    }

    .active-text {
      color: #5875ff;
      letter-spacing: 4px;
      padding: 30px 0 30px 0;
      text-align: center;
      width: 50%;
      font-size: 32px;
      border-bottom: 4px solid #5875ff;
    }
  }
}