.classify {

  .tab {
    width: 100% auto;
    height: 110px;
    box-shadow: 0 4px 5px #eeeaea;
    display: flex;
    justify-content: space-between;
  }
  .tableft {
    width: 50%;
    padding: 46px 0 0 30px;
  }
  .tabright {
    width: 50%;
    display: flex;
    justify-content: space-between;

    .tabright1 {
      width: 50%;
      padding: 46px 0 0 30px;
    }
    .tabright2 {
      width: 50%;
      padding: 46px 0 0 30px;
    }
  }
  .text {
    font-size: 28px;
    margin-right: 6px;
    letter-spacing: 4px;
  }
  .icon {
    width: 17px;
    height: 12px;
  }
}