.box {
  padding: 20px 30px 40px 30px;
  
  .testimonials {
    background-color: white;
    display: flex;
    justify-content: center;
    .list {
      background-color: white;
      margin: 30px 40px 10px 40px;
      
      .icon {
        width: 90px;
        height: 90px;
      }
  
      .title {
        letter-spacing: 4px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 18px;
      }
  
    }
  }
}