.user {

  .box {
    width: 100% auto;
    height: 310px;
    text-align: center;

    .avatar {
      background-color: white;
      border-radius: 50px;
      margin-top: 100px;
      width: 100px;
      height: 100px;
    }

    .name {
      color: white;
      margin-top: 30px;
      display: block;
    }

    .balance {
      color: white;
      margin: 16px 0 16px 0;
      display: block;
    }
  }
}