.box {
  padding: 30px;
  .myorder {
    display: flex;
    justify-content: center;

    .list {
      margin: 30px 40px 10px 40px;
      
      .num {
        font-size: 50px;
        color: white;
        text-align: center;
      }

      .title {
        color: white;
        letter-spacing: 4px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 22px;
      }
  
    }
  }
}