.introduction {
  background-color: white;
  // margin-top: 20px;
  .hezi {
    padding: 40px 20px 30px 20px;
    .title {
      display: block;
      font-size: 34px;
      letter-spacing: 4px;
    }
    
    .copy {
      display: block;
      font-size: 32px;
      letter-spacing: 4px;
      margin-top: 20px;
      color: #858383;
    }
  }
}