.box {
  .list {
    padding: 30px 30px 0 30px;
    display: flex;

    .icon {
      width: 240px;
      height: 240px;
    } 

    .right {
      // padding: 10px;
      margin: 20px 0 0px 20px;

      .title {
        font-size: 30px;
        letter-spacing: 4px;
      }

      .degree {
        margin-top: 30px;
        margin-bottom: 10px;
        color: #bbbbbb;
        font-size: 22px;
        letter-spacing: 4px;

        .degree-left {
          margin-right: 10px;
        }
        .degree-right {
          margin-left: 10px;
        }
      }

      .coupons {
        padding: 4px;
        color: #e8b178;
        font-size: 20px;
        border: 1px solid;
        border-radius: 28px;
      }

      .price {
        padding: 30px 0 10px 0;

        .num {
          font-size: 34px;
          color: red;
          margin-right: 50px;
        }

        .sale {
          font-size: 22px;
          color: #bbbbbb;
        }
      }
    }
  }
}