.box {
  .customerlist {
    margin-top: 40px;
    .list {
      display: flex;
      justify-content: space-between;
      padding: 20px 0 20px 0;
      
      .left {

        .icon {
          width: 30px;
          height: 28px;
        }
        
        .title {
          margin-left: 26px;
          font-size: 28px;
          letter-spacing: 8px;
        }
      }

      .iconright {
        width: 13px;
        height: 20px;
      }
    }
  }
}