.listbox {
  padding: 10px 0 10px 0;
  .toptitle {
    display: flex;
    padding: 0 30px 0 30px;
    justify-content: space-between;
    // align-items: center;
    .left {
      letter-spacing: 4px;
      font-size: 36px;
    }

    .right {
      margin-top: 6px;
      .text {
        font-size: 22px;
        color: #959595;
      }
      .goicon {
        width: 13px;
        height: 20px;
      }
    }
  }

  .newcourselist {
    display: flex;
    justify-content: center;
  
    .list {
      background-color: white;
      margin: 10px;
      .icon {
        width: 335px;
        height: 182px;
      }
  
      .title {
        margin: 18px;
        font-size: 22px;

        .user {
          display: flex;
          justify-content: space-between;
          .iconuser {
            background-color: red;
            width: 50px;
            height: 50px;
          }
          .name {
            font-size: 20px;
            margin-top: 16px;
            letter-spacing: 4px;
          }
          .time {
            font-size: 16px;
            margin-top: 24px;
          }
        }
      }
    }
  }
}