.box {
  background-color: white;
  .img {
    width: 750px;
    height: 402px;
  }

  .information {
    margin: 40px 30px 0 30px;

    .title {
      font-size: 34px;
      letter-spacing: 6px;
    }
    
    .list {
      padding: 40px 0 40px 0;
      display: flex;
      justify-content: space-between;
      .specialized {
      
        .icon1 {
          width: 24px;
          height: 22px;
        }

        .text1 {
          font-size: 26px;
          margin-left: 16px;
          color: #bbbbbb;
        }
      }
  
      .cart {
  
        .icon2 {
          width: 24px;
          height: 22px;
        }

        .text2 {
          font-size: 26px;
          margin-left: 16px;
          color: #bbbbbb;

        }
      }
  
      .like {
        margin-right: 100px;
        .icon3 {
          width: 24px;
          height: 22px;
        }

        .text3 {
          font-size: 26px;
          margin-left: 16px;
          color: #bbbbbb;

        }
      }
    }
  }

  .price {
    // margin: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    .num {
      font-size: 64px;
      color: red;
    }

    .minus {
      margin: 0 0 18px 50px;
      padding: 4px;
      color: #e8b178;
      font-size: 20px;
      border: 1px solid;
      border-radius: 28px;
    }
  }
}