.box {
  
  .list {
    padding: 40px 30px 40px 50px;
    display: flex;
    justify-content: space-between;
    .iconleft {
      width: 56px;
      height: 54px;
      margin-top: 10px;
    }

    .zhong {
      margin: 0 30px 0 30px;
      .title {
        font-size: 30px;
        letter-spacing: 4px;
      }

      .progress {
        font-size: 24px;
        letter-spacing: 4px;
        color: #959595;
      }
    }

    .iconright {
      margin-top: 10px;
      width: 43px;
      height: 44px;
    }
  }
}